@model IEnumerable<MulakatProjesi.Models.ProductsVM>
@{
    ViewData["Title"] = "Products";
}

<style>
	.img-thumbnail {
		height: 50px;
		width: 50px;
		object-fit: contain;
	}
</style>


<h1>Ürün Listesi</h1>

<table class="table table-responsive table-bordered table-light">
	<thead>
		<tr>
			<th>Görsel</th>
			<th>Ürün Adı</th>
			<th>Fiyat</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th><img src="@item.imageUrl" class="img-fluid img-thumbnail "></th>
				<td>@item.name</td>
				<td>@item.price.ToString("#,##0.00")</td>

			</tr>
		}

	</tbody>

</table>

